<div class="search_top">
  <h1 class=search_text>検索結果</h1>

  <div class="show_result">
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    
    <br>
      <div class="sentence_result">
      例文：<span class="sentence_itself"><%= result.sentence %></span><br>
      解説：<span class="explaination_itself"><%= result.explaination %></span>
      </div>
    </li>
  <% end %>
<% end %>
<br>
</div>
<p class="return_top"><%= link_to '検索ページへ戻る', sentences_path %></p>